@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url(../fonts/opensans.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url(../fonts/opensansbold.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url(../fonts/opensanslight.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url(../fonts/opensansmedium.ttf);
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: none;
  background-color: #0c0c0c;
}

button {
  outline: none !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

.header {
  position: relative;
}
.header-desktoplink {
  display: none;
}
.header-logo {
  margin-top: -10px;
  transform: translateX(-1000px);
  transition: all 0.5s ease;
}
.header-logo a img {
  width: 150px;
}
.header-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 999;
  top: 40px;
  right: 10px;
}
.header #mob.active span:first-child {
  transform: rotate(45deg);
  top: 10px;
  transition: all 0.3s ease;
}
.header #mob.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-30px);
}
.header #mob.active span:last-child {
  top: 10px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.header span {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  transition: all 0.3s ease;
}
.header span:first-child {
  top: 0px;
}
.header span:nth-child(2) {
  top: 10px;
}
.header span:last-child {
  top: 20px;
}
.header__link {
  position: absolute;
  top: 30px;
  transform: translateX(5000px);
  transition: all 0.4s ease;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 70px 50px 30px 50px;
}
.header__link.active {
  transform: translateX(0px);
  transition: all 0.4s ease;
  z-index: 900;
}
.header ul {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header ul li {
  margin: 20px;
  transition: all 0.5s ease;
}
.header ul li:nth-child(1) {
  transform: translateY(-100px);
}
.header ul li:nth-child(2) {
  transform: translateY(-200px);
}
.header ul li:nth-child(3) {
  transform: translateY(-300px);
}
.header ul li:nth-child(4) {
  transform: translateY(-400px);
}
.header ul a {
  font-family: "Open Sans";
  font-style: 600;
  font-size: 24px;
  color: #d4cdcd;
  line-height: 22px;
  transition: all 0.4s ease;
}
.header ul li:hover a {
  color: #dbc9c9;
  transition: all 0.4s ease;
}
.header ul .header__link-social a {
  font-size: 35px;
}

@media (min-width: 576px) {
  .header-logo a img {
    width: auto;
    width: 200px;
  }
  .header-btn {
    top: 50px;
  }
}
@media (min-width: 768px) {
  .header-logo {
    margin-left: 50px;
  }
  .header-nav {
    display: none;
  }
  .header-desktoplink {
    display: block;
    margin-top: 35px;
    margin-right: 50px;
  }
  .header-desktoplink ul {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;
  }
  .header-desktoplink ul li {
    position: relative;
  }
  .header-desktoplink ul li:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease;
    opacity: 0;
    left: 50%;
  }
  .header-desktoplink ul li a {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #d4cdcd;
  }
  .header-desktoplink ul li:hover:after {
    opacity: 1;
    transition: all 0.3s ease;
    width: 100%;
    left: 0;
  }
  .header-desktoplink ul li:hover a {
    color: #da5050;
  }
}
@media (min-width: 1200px) {
  .header-logo {
    margin-left: 92px;
  }
  .header-desktoplink {
    margin-right: 100px;
  }
}
.main {
  height: calc(100vh - 110px);
  position: relative;
  box-shadow: 0px -7px 15px 0px #000000 inset;
  box-shadow: 0px 40px 32px -3px rgba(0, 0, 0, 0.75);
}
.main-headline {
  margin-top: 200px;
}
.main-headline .text {
  font-weight: 100;
  color: #FAFAFA;
  height: 30px;
}
.main-headline .dud {
  color: #757575;
}
.main-headline h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  user-select: none;
  text-shadow: 2px 2px 1px #f0e6e6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/cover.png");
  background-repeat: repeat-x;
  animation: animate 60s linear infinite;
}
.main-headline h5 {
  color: #dfb5b5;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  user-select: none;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #e2a8a8;
  text-transform: capitalize;
  letter-spacing: 10px;
  font-weight: 100;
  margin-bottom: 100px;
}
.main-headline p {
  position: relative;
  text-transform: uppercase;
  color: #fafafa;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  animation: scroll 2s linear infinite;
  user-select: none;
  text-align: center;
  bottom: -150px;
}

@media (min-width: 576px) {
  .main-headline h1 {
    font-size: 40px;
    text-shadow: 3px 3px 1px #f0e6e6;
    background-size: 60%;
  }
  .main-headline h5 {
    font-size: 25px;
    margin-top: 35px;
  }
}
@media (min-width: 768px) {
  .main-headline {
    margin-top: 280px;
  }
  .main-headline h1 {
    font-size: 50px;
    text-shadow: 3px 3px 1px #f0e6e6;
    background-size: 60%;
  }
}
@media (min-width: 992px) {
  .main-headline h1 {
    font-size: 64px;
    text-shadow: 7px 3px 1px #f0e6e6;
    background-size: 60%;
  }
  .main-headline h5 {
    font-size: 30px;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .main-headline {
    margin-top: 280px;
  }
  .main-headline h1 {
    font-size: 80px;
    background-size: auto;
    letter-spacing: 7px;
  }
}
@keyframes animate {
  0% {
    background-position: left 0 top -15px;
  }
  100% {
    background-position: left 12000px top -15px;
  }
}
@keyframes scroll {
  0% {
    transform: scale(1);
    transition: all 0.3s ease;
  }
  50% {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  100% {
    transform: scale(1);
    transition: all 0.3s ease;
  }
}
.work {
  background-image: url(../img/water.jpg);
  height: 1000px;
  box-shadow: 0px 7px 100px -1px #000000 inset;
  background-attachment: fixed;
}

/*# sourceMappingURL=style.css.map */
