@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url(../fonts/opensans.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url(../fonts/opensansbold.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url(../fonts/opensanslight.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url(../fonts/opensansmedium.ttf);
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: none;
  background-color: black;
}

button {
  outline: none !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

.header {
  position: relative;
}
.header-desktoplink {
  display: none;
}
.header-logo {
  margin-top: -10px;
}
.header-logo a img {
  width: 150px;
}
.header-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 999;
  top: 40px;
  right: 10px;
}
.header #mob.active span:first-child {
  transform: rotate(45deg);
  top: 10px;
  transition: all 0.3s ease;
}
.header #mob.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-30px);
}
.header #mob.active span:last-child {
  top: 10px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.header span {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  transition: all 0.3s ease;
}
.header span:first-child {
  top: 0px;
}
.header span:nth-child(2) {
  top: 10px;
}
.header span:last-child {
  top: 20px;
}
.header__link {
  position: absolute;
  top: 30px;
  transform: translateX(5000px);
  transition: all 0.4s ease;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 70px 50px 30px 50px;
}
.header__link.active {
  transform: translateX(0px);
  transition: all 0.4s ease;
  z-index: 900;
}
.header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header ul li {
  margin: 20px;
}
.header ul a {
  font-family: "Open Sans";
  font-style: 600;
  font-size: 24px;
  color: #d4cdcd;
  line-height: 22px;
  transition: all 0.4s ease;
}
.header ul li:hover a {
  color: #dbc9c9;
  transition: all 0.4s ease;
}
.header ul .header__link-social a {
  font-size: 35px;
}

@media (min-width: 576px) {
  .header-logo a img {
    width: auto;
    width: 200px;
  }
  .header-btn {
    top: 50px;
  }
}
@media (min-width: 768px) {
  .header-logo {
    margin-left: 50px;
  }
  .header-nav {
    display: none;
  }
  .header-desktoplink {
    display: block;
    margin-top: 35px;
    margin-right: 50px;
  }
  .header-desktoplink ul {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;
  }
  .header-desktoplink ul li {
    position: relative;
  }
  .header-desktoplink ul li:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease;
    opacity: 0;
    left: 50%;
  }
  .header-desktoplink ul li a {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #d4cdcd;
  }
  .header-desktoplink ul li:hover:after {
    opacity: 1;
    transition: all 0.3s ease;
    width: 100%;
    left: 0;
  }
  .header-desktoplink ul li:hover a {
    color: #da5050;
  }
}
@media (min-width: 1200px) {
  .header-logo {
    margin-left: 92px;
  }
  .header-desktoplink {
    margin-right: 100px;
  }
}
.main {
  height: calc(100vh - 110px);
}
.main-headline {
  margin-top: 280px;
}
.main-headline h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 90px;
  user-select: none;
  text-shadow: 7px 3px 1px #f0e6e6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/cover.png");
  background-repeat: repeat-x;
  animation: animate 60s linear infinite;
}

@keyframes animate {
  0% {
    background-position: left 0 top 10px;
  }
  100% {
    background-position: left 12000px top -20px;
  }
}

/*# sourceMappingURL=style.css.map */
