@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url(../fonts/opensans.ttf);
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url(../fonts/opensansbold.ttf);
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(../fonts/opensanslight.ttf);
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-weight: 500;
    src: url(../fonts/opensansmedium.ttf);
  }

  body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: none;
    background-color: #0c0c0c;
  }
  
  button {
    outline: none !important;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  a,
  a:hover {
    text-decoration: none;
    color: #000;
  }

  // <!-- header -->
.header {
    position: relative;
  
    &-desktoplink {
      display: none;
    }
  
    &-logo {
      margin-top: -10px;
  
      a img {
        width: 150px;
      }
    }
  
    &-btn {
      background-color: transparent;
      color: #fff;
      border: none;
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 999;
      top: 40px;
      right: 10px;
    }
  
    #mob.active span:first-child {
      transform: rotate(45deg);
      top: 10px;
      transition: all 0.3s ease;
    }
  
    #mob.active span:nth-child(2) {
      opacity: 0;
      transform: translateX(-30px);
    }
  
    #mob.active span:last-child {
      top: 10px;
      transform: rotate(-45deg);
      transition: all 0.3s ease;
    }
  
    span {
      width: 30px;
      height: 2px;
      background-color: #fff;
      display: block;
      position: absolute;
      transition: all 0.3s ease;
    }
  
    span:first-child {
      top: 0px;
    }
  
    span:nth-child(2) {
      top: 10px;
    }
  
    span:last-child {
      top: 20px;
    }
  
    &__link {
      position: absolute;
      top: 30px;
      transform: translateX(5000px);
      transition: all 0.4s ease;
      right: 0;
      display: flex;
      justify-content: flex-end;
      padding: 70px 50px 30px 50px;
  
      &.active {
        transform: translateX(0px);
        transition: all 0.4s ease;
        z-index: 900;
      }
    }
  
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
  
      li {
        margin: 20px;
      }
  
      a {
        font-family: 'Open Sans';
        font-style: 600;
        font-size: 24px;
        color: #d4cdcd;
        line-height: 22px;
        transition: all 0.4s ease;
      }
      li:hover a {
        color: #dbc9c9;
        transition: all 0.4s ease;
      }
      .header__link-social {
        a {
            font-size: 35px;
          }
      }
    }
  }


  @media (min-width: 576px) {
    .header {
      &-logo {
        a img {
          width: auto;
          width: 200px;
        }
      }
  
      &-btn {
        top: 50px;
      }
    }
  
  }
  
  @media (min-width: 768px) {
    .header {
      &-logo {
        margin-left: 50px;
      }
  
      &-nav {
        display: none;
      }
  
      &-desktoplink {
        display: block;
        margin-top: 35px;
        margin-right: 50px;
  
        ul {
          display: flex;
          flex-direction: row;
          width: 500px;
          justify-content: center;
  
          li {
            position: relative;
  
            &:after {
              content: "";
              width: 0;
              height: 2px;
              background-color: #fff;
              position: absolute;
              bottom: -5px;
              left: 0;
              transition: all 0.3s ease;
              opacity: 0;
              left: 50%;
            }
  
            a {
                font-family: "Open Sans";
                font-size: 18px;
                font-weight: 600;
                color: #d4cdcd;
            }
  
            &:hover {
              &:after {
                opacity: 1;
                transition: all 0.3s ease;
                width: 100%;
                left: 0;
              }
              a {
                color: #da5050;
              }
            }
          }
        }
      }
    }
  }
  
  @media (min-width: 1200px) {
    .header {
      &-logo {
        margin-left: 92px;
      }
  
      &-desktoplink {
        margin-right: 100px;
      }
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

//подключить шрифты

.main {
  height: calc(100vh - 110px);
  &-headline {
    margin-top: 280px;
    h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 90px;
    user-select: none;
    text-shadow: 7px 3px 1px #f0e6e6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("../img/cover.png");
    background-repeat: repeat-x;
    animation: animate 60s linear infinite;
    }
  }
}

@keyframes animate {
  0%{
      background-position: left 0 top -15px;
  }
  100%{
      background-position: left 12000px top -15px;
  }
}
